@import './utils/variables' ;
@import './utils/placecholders' ;


@import './base/base' ;
@import './base/container' ;
@import './base/section' ;

@import './components/logo';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './components/mobile-menu';



@import './layout/page-header';
@import './layout/menu' ;
@import './layout/conntact' ;
@import './layout/hero' ;
@import './layout/modal-open-btn' ;
@import './layout/section-sentence' ;
@import './layout/section-section-do' ;
@import './layout/section-team' ;
@import './layout/section-clients' ;
@import './layout/footer';
@import './layout/footer-form';
@import './layout/footer-social' ;
@import './layout/portfolio-section';