@charset "UTF-8";
:root {
  --primery-text-color: #212121;
  --titel-text-color: #757575;
  --accent-color: #2196F3;
  --stock-color: #FFFFFF;
  --logo-color: #000000;
  --hero-color: #2F303A;
  --tem-color: #F5F4FA;
  --footer-color: rgba(255, 255, 255, 0.6);
  --heder-line: #ECECEC;
  --primety-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --overlay: rgba(0, 0, 0, 0.4);
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__item-link, .clients-list__item-link, .social-list__item-link, .section-do__label, .contact-phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lines {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Убрать растояние под фото */
img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--primety-font);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

address {
  font-style: normal;
}

.section-titel_hidinh {
  display: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-titel {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.subtitel {
  margin-bottom: 10px;
}

.logo-img {
  color: teal;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-web {
  color: var(--accent-color);
  font-family: var(--secondary-font);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  padding: 40px;
  background-color: var(--stock-color);
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 4px; */
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #303030;
  padding: 0;
}

.modal-form-titel {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: var(--primety-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field_last {
  margin-bottom: 20px;
}

.modal-form-field-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--titel-text-color);
  margin-bottom: 4px;
}

.modal-form-input-wrapp {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-massage {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 15px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-massage::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
}
.modal-form-massage:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
}
.modal-form-massage::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
}
.modal-form-massage:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-check {
  width: 16px;
  height: 14px;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal-form-check-field {
  margin-bottom: 30px;
}

.modal-form-own-checkbox {
  width: 16px;
  height: 15px;
  border: 1px solid #303030;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
  transition: border --transition-dur-and-func;
}
.modal-form-check:focus + .modal-form-own-checkbox {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--stock-color);
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--titel-text-color);
}

.modal-form-treaty {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-submit {
  width: 200px;
  color: var(--stock-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-self: center;
  padding: 8px 52px;
}
.modal-form-submit:hover, .modal-form-submit:focus {
  color: var(--stock-color);
  background-color: var(--accent-color);
}

.page-header {
  background-color: var(--stock-color);
  border: 1px solid var(--heder-line);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.menu .menu__link {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}

.menu .menu__link:hover,
.menu .menu__link:focus {
  color: var(--accent-color);
}

.menu .link-current {
  color: var(--accent-color);
}
.menu .link-current::after {
  position: absolute;
  display: block;
  content: "";
  width: 45px;
  height: 4px;
  margin-top: 25px;
  background: #2196F3;
  border-radius: 2px;
}

.menu .link-current-portfolio {
  color: var(--accent-color);
}
.menu .link-current-portfolio::after {
  position: absolute;
  display: block;
  content: "";
  width: 73px;
  height: 4px;
  margin-top: 25px;
  background: #2196F3;
  border-radius: 2px;
}

.menu {
  align-items: center;
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.contact {
  display: flex;
  -moz-column-gap: 28px;
       column-gap: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-phone-number {
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.contact-phone-number {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  transition: color var(--transition-dur-and-func);
}
.contact-phone-number:hover, .contact-phone-number:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
}

.mail-list-item-link {
  fill: var(--titel-text-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-color);
  background-image: linear-gradient(to right, var(--overlay), var(--overlay)), url(../images/img_hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .hero__titel {
  color: var(--stock-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.page-hero-container {
  text-align: center;
}

.modal-open-btn {
  color: var(--stock-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
}
.modal-open-btn:hover, .modal-open-btn:focus {
  color: var(--stock-color);
  background-color: var(--accent-color);
}

.sentence__list .titel {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.title-list {
  color: var(--titel-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.sentence__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-sentence__item {
  flex-basis: calc((100% - 90px) / 4);
}

.sentence__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--tem-color);
  margin-bottom: 30px;
}

.sentence__icon-list-item {
  padding: 25px 100px;
}

.section-sentence__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-do {
  background-color: var(--stock-color);
  padding-bottom: 94px;
}

.section-list__do {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-list-do__item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 100%;
  height: auto;
}

.section-do__thumb {
  position: relative;
}

.section-do__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--stock-color);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.section__team {
  background-color: var(--tem-color);
}

.section-team__list .section-team__title {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  padding-top: 30px;
}

.section-team__list .section-team-work__title {
  color: var(--titel-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.section-team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-team-work__title {
  margin-bottom: 16px;
}

.section-team-list__link {
  background: var(--stock-color);
  flex-basis: calc((100% - 90px) / 4);
  max-width: 100%;
  height: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.social-list__item-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--stock-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list__item-link:hover {
  background-color: var(--accent-color);
}

.social-list__icon {
  gap: 10px;
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.social-list__item-link:hover .social-list__icon, .social-list__item-link:focus .social-list__icon {
  fill: var(--stock-color);
}

.social-list-icon-use {
  padding: 12px;
}

.clients__titel {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item-link {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: var(--stock-color);
  -moz-column-gap: 30px;
       column-gap: 30px;
  transition: background-color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}
.clients-list__item-link:hover, .clients-list__item-link:focus {
  border-color: var(--accent-color);
}

.clients-list__icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-and-func);
}
.clients-list__item-link:hover .clients-list__icon, .clients-list__item-link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.clients-list-icon-use {
  padding: 16px 32px;
}

.footer {
  background-color: var(--hero-color);
}

.container-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
}

.footer-on {
  margin-right: 70px;
}

.footer-titel {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-titel .footer-link:hover,
.footer-titel .footer-link:focus {
  color: var(--accent-color);
  transition: color var(--transition-dur-and-func);
}

.logo-footer {
  color: var(--stock-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 20px;
  display: inline-block;
}

.logo-web-footer {
  color: var(--accent-color);
  font-family: var(--secondary-font);
}

.adress {
  color: var(--stock-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}

.mail,
.tel {
  color: var(--footer-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.footer-form {
  display: flex;
}

.footer-input-titel {
  color: var(--stock-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-form-field {
  margin-right: 10px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--stock-color);
  background-color: var(--hero-color);
  padding-left: 15px;
}
.footer-form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-modal-form-buttom {
  position: relative;
}

.footer-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-form-button {
  width: 200px;
  height: 50px;
  color: var(--stock-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.footer-form-button:hover, .footer-form-button:focus {
  color: var(--stock-color);
  background-color: var(--accent-color);
}

.footer-form-icon-send {
  fill: var(--stock-color);
}

.footer-social-list {
  display: flex;
  text-align: center;
  align-items: baseline;
  width: 200px;
  margin: 0 auto;
  gap: 10px;
  margin-right: 94px;
}

.footer-social-titel {
  color: var(--stock-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social-list__item-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.footer-social-list__item-link:hover {
  background-color: var(--accent-color);
}

.footer-social-list__icon {
  fill: var(--stock-color);
}

.social-list-icon-use {
  padding: 12px;
}

.portfolio__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.portfolio-button {
  color: var(--primery-text-color);
  background-color: var(--tem-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border-radius: 4px;
  border: transparent;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.portfolio-button:hover, .portfolio-button:focus {
  color: var(--stock-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-button {
  padding: 6px 25px;
}

.our-projects__title {
  color: var(--primery-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-projects__list {
  color: var(--titel-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 2;
}

.our-projects__link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow var(--transition-dur-and-func);
}
.our-projects__link:hover, .our-projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our__projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-projects__item {
  flex-basis: calc((100% - 60px) / 3);
  max-width: 100%;
  height: auto;
}

.our-projects__title {
  margin-bottom: 4px;
}

.our-projects__lines {
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: 0;
}

.our-projects__thumb {
  position: relative;
  overflow: hidden;
}

.our-projects-label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: #FFFFFF;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--transition-dur-and-func);
}
.our-projects__link:hover .our-projects-label, .our-projects__link:focus .our-projects-label {
  transform: translateY(0%);
}/*# sourceMappingURL=main.css.map */