.footer-form {
    display: flex;
}

.footer-input-titel {
    color: var(--stock-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.footer-form-field {

    margin-right: 10px;

}

.footer-form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--stock-color);
    background-color: var(--hero-color);

    padding-left: 15px;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        padding: 10px;
        color: rgba(255, 255, 255, 0.6);

    }

}




.footer-modal-form-buttom {

    position: relative;

}

.footer-form-button {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.footer-form-button {

    width: 200px;
    height: 50px;
    color: var(--stock-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    &:hover,
    &:focus {


        color: var(--stock-color);
        background-color: var(--accent-color);


    }

}





.footer-form-icon-send {
    fill: var(--stock-color);


}


@media screen and (max-width: 767px) {
    .footer-form {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .footer-form-field {

        margin-right: 0px;


    }

    .footer-form-input {
        min-width: 395px;
    }





}