.logo-img {
    color: var(--logo-coltoor);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1;
    text-decoration: none;

    margin-right: 90px;
    padding-top: 24px;
    padding-bottom: 24px;

    }


.logo-web {
    color: var(--accent-color);
    font-family: var(--secondary-font);
}