.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field {

    margin-bottom: 10px;

}

.modal-form-field_last {
    margin-bottom: 20px;
}

.modal-form-field-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: var(--titel-text-color);
    margin-bottom: 4px;
}

.modal-form-input-wrapp {
    position: relative;
    display: block;
}

.modal-form-input {

    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);

    &:focus {
        outline: none;
        border-color: var(--accent-color);

    }


}



.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-func);

    .modal-form-input:focus+& {
        fill: var(--accent-color);
    }

}



.modal-form-massage {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 15px;
    resize: none;
    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
        line-height: 1.2;
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);

    }
}



.modal-form-check {

    width: 16px;
    height: 14px;
    opacity: 0;

    appearance: none;
    position: absolute;


}



.modal-form-check-field {


    margin-bottom: 30px;
}



.modal-form-own-checkbox {
    width: 16px;
    height: 15px;
    border: 1px solid #303030;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
    transition: border (--transition-dur-and-func);

    .modal-form-check:focus+& {

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


    }

    .modal-form-check:checked+& {
        background-color: var(--accent-color);
        border: 1px solid var(--accent-color);

    }
}



.modal-form-own-checkbox-icon {
    display: none;
    fill: var(--stock-color);

    .modal-form-check:checked+.modal-form-own-checkbox & {
        display: block;
    }

}



.modal-form-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    color: var(--titel-text-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.2;

    }
}

.modal-form-treaty {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--accent-color);

    @media screen and (max-width: 767px) {
        font-size: 12px;
        line-height: 1.2;

    }

}

.modal-form-submit {
    width: 200px;
    color: var(--stock-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-self: center;
    padding: 8px 52px;

    &:hover,
    &:focus {


        color: var(--stock-color);
        background-color: var(--accent-color);


    }

}