.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 609px;
    padding: 40px;
    background-color: var(--stock-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


}

@media screen and (max-width: 767px) {
    .modal {
        width: 360px;
    }

}

@media screen and (min-width: 1200px) {
    .modal {
        width: 528px;
        height: 581px;
    }

}



.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #303030;
    padding: 0;
}

.modal-form-titel {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    font-family: var(--primety-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

// @media screen and (min-width: 768px) {

//     .modal {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//         width: 450px;
//         height: 609px;
//         padding: 40px;
//         padding: 10vw;


//         background-color: var(--stock-color);


//     }

// }


// .modal {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 528px;
//     height: 580px;
//     padding: 40px;
//     background-color: var(--stock-color);




// }

// box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//         border-radius: 4px; 